.ul-content {
    height: 90%;
    width: 90%;
    color: #9ea1b4;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
}

.li-content {
    border: 2px solid #1b1c21;
    background-color: #262831;
    border-radius: 4px 4px 0 0;
    perspective: 1px;
    outline: 0;
    height: 95%;
    padding: 2rem;
    box-sizing: border-box;
}

.footer {
    background: #313440;
    height: 5%;
    display: flex;
    border: 2px solid #1b1c21;
    border-radius: 0 0 4px 4px;
    border-top: none;
}

.footer-left {
    border-right: 2px solid #1b1c21;
    padding: 0.7% 0;
    flex-grow: 2;
}

.footer-right {
    padding: 0.7% 0;
    flex-grow: 1;
}