body{
    background-color: #313440;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

html {
    height: 100%;
}

.ul-sidebar {
    height: 100%;
    width: 4rem;
	position: fixed;
    color: #9ea1b4;
    margin: 0 auto;
    background-color: #1b1c21;
    padding: 2rem 0 0 0 ;
    list-style-type: none;
    text-align: center;
}

.li-sidebar {
    border-bottom: 2px solid #262831;
	outline: 0;
}

.li-sidebar:last-child {
    border-bottom: none;
}

.li-nested-sidebar {
    padding: 1rem 0 1rem 0;
}

.is-selected {
    background-color: #ffd77b;
}

/* tambahan */

.sidebar {
    width: 5%;
    position: fixed;
    height: 100%;
}

.content{
    height: 100%;
    background: #313440;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 4rem;
}

.ul-content {
    height: 90%;
    width: 90%;
    color: #9ea1b4;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
}

.li-content {
    border: 2px solid #1b1c21;
    background-color: #262831;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    perspective: 1px;
    outline: 0;
    height: 95%;
}

.footer {
    background: #313440;
    height: 5%;
    display: flex;
    border: 2px solid #1b1c21;
    border-radius: 0 0 4px 4px;
    border-top: none;
}

.footer-left {
    border-right: 2px solid #1b1c21;
    padding: 0.5% 0;
    flex-grow: 2;
}

.footer-right {
    padding: 0.5% 0;
    flex-grow: 1;
}