body{
    background-color: #313440;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

html {
    height: 100%;
}

.sidebar {
    width: 5%;
    position: fixed;
    height: 100%;
}

.content{
    height: 100%;
    background: #313440;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 4rem;
}